{% extends "base_bootstrap.html" %}
{% load custom_filters %}
{% load humanize %}
{% block content %}
<h1>My Observations ({{user}})</h1>
<div class="row">
  {% if observations_list %}
  <p>Number of observations: {{ observations_list|length }}</p>

    {% for observation in observations_list %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title" style=" background-color: #0000000a;border-left: 5px solid black; margin: 0; padding: 5px;">{{ observation.bird.species }}_{{ observation.pk }}</h5>
              </div>
              <div class="col-md-6 text-right">
                <p><i class="fas fa-user"></i> : {{ observation.owner }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">

                <p><i class="fas fa-clock"></i> : {{ observation.audio_duration |convert_to_time_format}}</p>
                <p><i class="fas fa-calendar-alt"></i> : {{ observation.uploaded_at |naturaltime}}</p>
                <p><i></i><a href="{% url 'explore:observations_detail' observation.id %}" class="card-link">Details</a></p>

              </div>
              <div class="col-md-6 text-right">
                <p><i class="fas fa-headphones"></i> Quality: {{ observation.audio_quality }}</p>
                <p><i class="fas fa-globe"></i> : {{ observation.country }}</p>
                {% if observation.owner == user %}
                <p><i>
                  <a href="{% url 'upload:observations_update' observation.id %}" class="fas fa-edit"></a>
                  <a href="{% url 'upload:observations_delete' observation.id %}" class="fas fa-trash-alt"></a></i>
                  </p>
                {% endif %}

              </div>
            </div>


          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="col-md-12">
      <p>There are no observations.</p>
    </div>
  {% endif %}

<p>
<a href="{% url 'upload:observations_create' %}">Add an observation</a> |
<a href="{% url 'explore:all' %}">All observation</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'upload:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'upload:all' %}">Login</a>
{% endif %}
</p>
{% endblock %}
