{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1> Upload Your Observation</h1>
    <div class="container" style="box-shadow: 0px 0px 5px 10px aliceblue; padding:10px; margin-top: 35px;">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'upload:all' %}';return false;">
  </form>
  </div>
{% endblock %}
